/* body {
  display: flex;
  justify-content: center;  
} */

form {
  display: block;
  flex-direction: column;
  margin-left:500px
}

input {
  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  position: inherit;
  font-weight: bold;
}
